.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: 20px;
  margin: 40px 0;
  /* filter: drop-shadow(#6c605d 8px 8px 8px ); */
}

.project {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* Ensure padding is included in width (needed to prevent overlapping cards) */
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.project a {
  text-decoration: none;
  color: #2c12ed;
  font-weight: bold;
  transition: color 0.3s;
}

.project a:hover {
  color: #f148c8;
}
