.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* TODO: make semi-transparent */
  background-color: var(--secondary-color);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 500px;
  gap: 20px;
}

.chatbox-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

.chatbox-input {
  display: flex;
  padding: 0.5rem;
  width: 80%;
  border-radius: 4px;
  background: var(--chatbot-assistant);
  gap: 10px;
}

.chatbox-buttons {
  width:fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatbox-buttons button {
  width: 100%;  /* Make buttons size based on content */
  white-space: nowrap;  /* Prevent button text from wrapping */
}

.message {
  max-width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.user {
  align-self: flex-end;
  background-color: var(--primary-color);
}

.assistant {
  align-self: flex-start;
  background-color: var(--chatbot-assistant);
}

.empty-state {
  text-align: center;
  margin: auto;
}

.loading {
  font-style: italic;
}

/* TODO: fix disabled button */
.button-wrapper.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
